<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category names:</strong>
  <%= @product.categories.map(&:name).join(", ") %>
</p>

<p>
  <strong>Available at:</strong>
  <%= @product.available_at %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
